<div class="row justify-content-center my-3">
  <div class="col-lg-9">
    <div class="card">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">
            <h4>Perfil</h4>
          </a>
          <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">
            <h4>Endereço</h4>
          </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <%= render 'profile' %>
        </div>
        <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
          <%= render 'users/addresses/show', address: current_user.address %>
        </div>
      </div>
    </div>
  </div>
</div>
