<div class="row my-2 p-3 mx-auto bg-white">
  <div class="container">
    <h2 class="card-title text-purple">
      Teste seus conhecimentos agora mesmo!
    </h2>
    <h4 class="font-weight-light">Responda como você estivesse lá</h4>
  </div>
</div>

<div class="row mx-auto my-2">
  <div class="card p-3 w-100">
    <h4 class="text-default font-weight-light">
      Escolha uma prova para realizar o simulado ou
       <%= link_to "clique aqui ", "#", class: "" %> para customiza-lá
    </h4>
  </div>
</div>
<div class="row mx-auto my-2">
  <%= render @exams %>
</div>
