<div class="container">
  <div class="form-group d-flex flex-column">
    <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-bold facebook form-control" do %>
      <i class="ti ti-facebook"></i> Entrar com Facebook
    <% end %>
    <p></p>
    <%= link_to "#", class: "btn btn-bold google form-control" do %>
      <i class="ti ti-google"></i> Entrar com Google
    <% end %>
  </div>
  <p class="text-center">Ou</p>
</div>
