<% @array = ['Usuários', 'Planos', 'Provas', 'Questões' ]%>
  <% @array.each do |element| %>
  <li class="nav-item">
  <%= link_to "#", class: "nav-link" do %>
  <i class="icon ti-receipt"></i>
  <span class="title-label">  <%= element %> </span>
  <% end %>
  </li>
<% end %>
<li class="nav-item">
  <%= link_to admin_history_index_path, class: "nav-link" do %>
    <i class="icon ti-receipt"></i>
    <span class="title-label">Log de Atividades</span>
  <% end %>
</li>
