<div class="container">
  <div class="card">
    <div class="card-block">
      <h1>Dashboard Layout Admin</h1>
      <p>
        Hello <%= current_user.profile.first_name %>, ainda falta muito para terminar...
      </p>
    </div>
  </div>
</div>
