<div class="card no-border text-left h-100">
  <div class="card-header">
    <h4 class="text-purple">Ranking</h4>
  </div>

  <div class="card-body">

    <table class="table" id="table-id">
      <%= yield %>

      <% yield %>
    </table>
    <br>
  </div>
</div>
