<tbody>
    <% @students.each_with_index do |student, index| %>
        <tr class="text-muted">
          <td><%= index + 1 %>ยบ</td>
          <td><%= student.profile.avatar_thumb %> <%= student.profile.full_name %></td>
          <td></td>
        </tr>
    <% end %>
</tbody>
