<%= render "wizard_form", data: { readonly: true } do |form| %>
  <h2 class="text-center text-muted font-weight-light">
    Onde você mora?
  </h2>
  <%= form.fields_for :address do |f| %>
    <%= render 'users/addresses/form_fields', form: f, address: current_user.address %>
  <% end %>
<% end %>
