<div class="row justify-content-center py-3">
  <div class="col-md-11 col-lg-11 col-sm-11">
    <div class="container">
      <%= render "student/shared/ranking" do %>
        <%= render "student/shared/thead" %>
        <div class="row justify-content-center">
          <%= paginate @students, window: 2 %>
        </div>
      <% end %>
    </div>
  </div>
</div>
