<div class="card p-2">
  <div class="card-block">
    <h1>Dashboard Layout User</h1>
    <p>
      Hello <%= current_user.profile.first_name || current_user.email %>, ainda falta muito para terminar...
    </p>
  </div>
</div>
