<div class="row my-2 p-2 mx-auto bg-white">
  <div class="container">
    <h2 class="card-title text-purple">Registros de Log</h2>
  </div>
</div>

<div class="row mx-auto my-2 bg-white">
  <div class="card p-3 w-100">
    <table class="table table-bordered text-center" id="accordion">
      <thead>
        <tr>
          <th class="w-5">#</th>
          <th class="w-25">Usuário</th>
          <th class="w-10">Ação</th>
          <th class="w-35">Item</th>
          <th class="w-25">Aconteceu em</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'history' %>
      </tbody>
    </table>
  </div>
</div>
