.page-content {
  padding: 1rem 1rem 0;
  flex: 1 0 auto;
}

.student-dashboard {
  .row{
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .no-border{
    border: 0;
    border-radius: 0;
  }

  .no-padding{
    padding: 0;
    margin: 0;
  }

  .widget {
    padding: 10px 0px;
    position: relative;
    box-shadow: none;
    background: none;
    text-align: center;
  }

  .large {font-size: 2em;}

  .panel-container {
    padding: 20px 0px;
    background: $white;
  }

  .border-right {border-right: 1px solid #dadbda; }

  .grow {transition: all .2s easy;}

  .grow:hover{transform: scale(1.1);}

  .label{
    padding-left: 5px;
    background: rgba(#e6e6e6, 0.63);
    border-left: 8px solid #4087e0;
    text-align: center;
    span{
      font-size: 15px;
      color: $gray-600;
    }
    p{
      font-size: 25px;
      font-weight: bold;
      color: $gray-600;
    }
  }

  td:first-child{font-size: 1.2em;}
  td:last-child{text-align: center;}
}
