.history{
  .nav-header{
    margin-top: -17px;
    background: white;
    border-bottom: 3px solid $purple;

    .page-title{padding-top: 12px;
      h5 {
        color: $purple;
        font-weight: bold;
      }
    }
  }

  .content{
    padding: 20px 0;
    margin: 10px 0;
  }

  .col-sm-6{
    > .card{margin-bottom: 30px;}
  }

  .card-body{
    color: $purple;

    > strong {
      margin-left: 8px;
      color: $gray-700;}
  }

  .no-border{
    border: 0;
    border-radius: 0;
  }

  .no-background{background: none;}

  ol{
    background: none;
    margin: 0;
  }
}
