.answer-question {
  width: 37px;
  height: 37px;
  min-height: 37px;
  min-width: 37px;
  margin-right: 1.25rem;
  background-color: $gray-200;
  // border: 1px solid $gray-200;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    background-color: rgba($gray-200, .7)
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.0625rem;
    color: $black
  }

  label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  input:checked~label {
    border-radius: 50%;
    background-color: $secondary
  }

  input:checked~label span {
    color: $dark
  }

  input {
    display: none
  }

}

.label-ss {
  font-size: 1rem;
  font-weight: bold;
}

table.answers-container {
  position: relative;

  th {
    flex: 1
  }

  tbody {
    position: relative;
    display: block;
    max-height: 300px;
  }

  tr {
    display: flex;
  }

  tr > td {
    flex-grow: 1;
  }

}
