<div class="text-justify">
  <p><h5>Quem Somos?</h5></p>

  <p>O EnemGO é muito mais do que um site. Somos seu ajudante online que veio
  para facilitar a sua vida de estudante e revolucionar sua forma de
  aprender.</p>

  <p>Aqui você pode testar seus conhecimentos para ter um bom desempenho
  no ENEM e conquistar a tão sonhada vaga na Universidade, tudo isso de uma
  forma agradável e eficiente, em qualquer tempo e em qualquer lugar.</p>

  <p><h5>Porque o EnemGO?</h5></p>

  <p>Se o seu objetivo é ter um bom desempenho no ENEM para conquistar
  a tão almejada vaga na Universidade então o EnemGO é para você.</p>

  <p>Você poderá realizar provas oficiais do ENEM e se preparar da
  melhor maneira possível para atingir seus objetivos.</p>
</div>
