<div class="container">
  <div class="row">
      <div class="col-md-6 justify-content-center justify-content-md-start">
        <p>Copyright © 2017 <a href="http://enemgo.com.br">EnemGO</a>. Todos os direitos reservados.</p>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-secondary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link hover-gray" href="#">Termos de Uso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-gray" href="#">Política de Privacidade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-gray" href="#">Sobre</a>
          </li>
        </ul>
      </div>
  </div>
</div>
