<div class="text-justify">
  <p><h3>BEM-VINDO AO ENEMGO!</h3></p>

  <p>O <strong>EnemGO</strong> estabelece nestes Termos de Uso as condições para utilização do site, de forma a esclarecer as obrigações e responsabilidades de seus usuários.</p>

  <p>Ao acessar o site, o usuário concorda e aceita integralmente as condições destes Termos de Uso para uso.</p>

  <p>Por isso, é importante que você leia com atenção.</p>

  <p><h5>1. ACEITAÇÃO AOS TERMOS DE USO</h5></p>

  <p>1.1 Ao acessar e/ou usar os serviços do EnemGO oferecidos em nosso website, você concorda com os Termos de Uso, suas cláusulas e condições, conforme abaixo detalhadas.</p>

  <p>1.2 Você somente deve utilizar os Serviços do EnemGO se concordar com todas regras e condições estabelecidas nos Termos de Uso. Se você não concorda com estes Termos de Uso, você não deve acessar ou utilizar os Serviços oferecidos em nosso website. A utilização dos Serviços EnemGO está expressamente condicionada ao seu consentimento às regras dos Termos de Uso.</p>

  <p><h5>2. USUÁRIOS E MEMBROS:</h5></p>

  <p>2.1 Usuários: O uso das áreas públicas do EnemGO está disponível para qualquer pessoa interessada, sem necessidade de registro. Para poder usufruir dos serviços privados, reservados aos Membros, o usuário deve se registrar para se tornar um Membro do EnemGO. A palavra “Usuário” se referirá a qualquer usuário que não tenha se registrado como Membro do EnemGO.</p>

  <p>2.2 Membros. Qualquer pessoa, residente em qualquer parte do mundo, pode se tornar Membro do EnemGO. A palavra “Membro” se referirá a qualquer pessoa que tenha se registrado em nosso website.</p>

  <p>2.3 Senha e Segurança. Quando você completar o seu processo de registro, você criará uma senha que habilitará seu acesso ao website, assim considerado o site como nossos produtos e serviços. Você concorda em manter a confidencialidade da sua senha e é inteiramente responsável por qualquer dano resultante da não manutenção dessa confidencialidade e de todas as atividades que ocorrerem através do uso de sua senha. Lembre-se: a senha é pessoal, sigilosa e intransferível. Você concorda em nos notificar imediatamente de qualquer acesso não autorizado de sua senha ou outra quebra de segurança. Você concorda que o EnemGO não será responsabilizado por qualquer perda ou dano que ocorra a partir do não cumprimento desta cláusula.</p>

  <p><h5>3. INFORMAÇÕES PÚBLICAS E PRIVADAS:</h5></p>

  <p>3.1 “Suas Informações”: são definidas como qualquer informação postada por você ou que você nos dê (direta ou indiretamente), inclusive através do seu processo de registro ou do seu uso de nossa Plataforma, comentários em blogs, mensagens enviadas dentro de nossa Plataforma, ou e-mail. Você é o único responsável por Suas Informações, e nós agimos como um canal passivo para a distribuição e publicação de suas Informações Públicas (como definidas abaixo).</p>

  <p>3.2 “Informações Públicas”: seu nome, afiliação a companhias e localidade, bem como qualquer parte de Suas Informações que, através do uso de nossa Plataforma ou de outra maneira, você envie ou disponibilize para a inclusão em áreas públicas de nosso website.</p>

  <p>3.3 “Informação Privada”: qualquer outra parte de Suas Informações que não sejam Informações Públicas será referida como Informação Privada.</p>

  <p>3.4 “Áreas públicas”: são aquelas áreas do nosso website que são acessíveis para alguns ou todos os nossos Membros (p.ex., não restritas à sua visualização apenas) ou para o público geral.</p>

  <p>3.5 Acessibilidade das Informações Públicas. As suas Informações Públicas podem ser acessíveis e publicadas por programas de publicação automática e por ferramentas de busca, ferramentas de metabusca, crawlers, metacrawlers e outros similares.</p>

  <p>3.6 Restrições. Ao considerar o uso de nossa Plataforma, você concorda que as Suas Informações: (a) não devem ser fraudulentas; (b) não devem infringir nenhum direito autoral de terceiros, patente, marca registrada, direito de distribuição ou outro direito de propriedade intelectual, de publicação ou privacidade; (c) não devem violar nenhuma lei, estatuto, ordenação ou regulamento; (d) não devem ser difamatórias, caluniosas, ameaçadoras ou abusivas; (e) não devem ser obscenas ou conter pornografia, pornografia infantil, ou fotos de pessoas despidas; (f) não devem conter vírus, cavalos de tróia, worms, time bombs, cancelbots, easter eggs ou outras rotinas de programação que possam danificar, interferir, interceptar ou desapropriar qualquer sistema, dado ou informação pessoal; (g) não devem nos responsabilizar ou fazer com que percamos (total ou parcialmente) o serviço do nosso Provedor de Internet ou outros fornecedores; (h) não devem criar links direta ou indiretamente a qualquer material que você não tenha direito de incluir ou linkar.</p>

  <p>3.7 Obrigações: Você concorda também que deverá nos informar um endereço válido de e-mail, tanto na hora de seu registro conosco quanto a cada vez que o seu e-mail mudar. Você concorda também que o seu perfil de Membro, a Newsletter do EnemGO, postagens de comentários em blogs, uploads de fotos ou quaisquer porções do website reservadas apenas a uso dos Membros não devem ser usadas por você para atividades comerciais, vendas de bens e serviços, ou a promoção de uma companhia, bem ou serviço não relacionado ao tópico ou espírito do EnemGO ou de Grupo de Membros em particular. Você será exclusivamente responsável pelas informações que você postar nas áreas publicamente acessíveis da Plataforma, independente de sua intenção ou não de fazê-lo.</p>

  <p>3.8 Privacidade: Todas as informações pessoais relacionadas ao uso dos Serviços ou ao uso do website EnemGO estão sujeitas à nossa Política de Privacidade.</p>

  <p>3.9 Licença. Nós usaremos as suas Informações Pessoais Identificáveis apenas de acordo com a nossa Política de Privacidade. Entretanto, para nos autorizar a usar suas Informações Públicas e para nos assegurar de que não violamos nenhum direito que você possa ter sobre suas Informações Públicas, você garante ao EnemGO o direito não-exclusivo, universal, sem pagamento de royalties, em caráter total, definitivo, irrevogável e irretratável, de utilizar, a qualquer tempo, no Brasil e/ou no exterior e de exercer, comercializar e explorar todos os direitos de cópia, publicidade, e direitos de base de dados que você possua sobre suas Informações Públicas, através de qualquer meio conhecido ou que venha a ser criado futuramente, e para qualquer fim.</p>

  <p>3.10 Restrições no Nosso Uso de Suas Informações. Exceto se especificado contrariamente em nossa Política de Privacidade, nós não venderemos, alugaremos ou divulgaremos nenhuma parte de suas Informações Pessoais Identificáveis (como definidas em nossa Política de Privacidade) sobre você (incluindo seu endereço de e-mail) para terceiros. O EnemGO poderá comercializar "leads", sempre respeitando estes Termos de Uso e demais normas previstas na legislação em vigor.</p>

  <p>3.11 Consentimento de Divulgação. Você entende e concorda que o EnemGO pode divulgar Suas Informações se requerida a fazê-lo por lei ou por acreditar de boa fé que essa divulgação é razoável e necessária para: (a) cooperar com um procedimento judicial, uma ordem judicial ou processo legal sobre nós ou nosso website; (b) reforçar os Termos de Uso; (c) replicar a respeito da infração do direito de terceiros por Suas Informações; (d) proteger os direitos, propriedades ou a segurança pessoal do EnemGO, seus empregados, usuários e público.</p>

  <p>3.12 Consentimento de divulgação: O EnemGO reserva-se o direito, a seu exclusivo critério, de suspender ou terminar o seu uso de nossa Plataforma e de nossos Serviços, de recusar todo e qualquer uso corrente ou futuro de todas ou algumas partes de nossa Plataforma e/ou Serviços.</p>

  <p><h5>4. CONDIÇÕES GERAIS DE USO DOS SERVIÇOS</h5></p>

  <p>4.1 Ao aceitar estes Termos de Uso, você tem o direito não exclusivo, intransferível, não sub-licenciável e limitado de entrar, acessar e usar os Serviços, unicamente para uso pessoal e não comercial.</p>

  <p>4.2 Todos os direitos não previstos expressamente nestes Termos de Uso estão reservados ao EnemGO.</p>

  <p>4.3. Você concorda que os Serviços são para o seu uso pessoal e não comercial e que ninguém além de você usará os Serviços. Você não tem direitos de cópia ou reprodução no todo ou em parte, de qualquer parte dos Serviços de propriedade do EnemGO.</p>

  <p>4.4 Além da licença limitada de uso estabelecida nestes Termos de Uso, você não tem qualquer outro direito, título ou propriedade sobre os Serviços. Você entende e reconhece que, em quaisquer circunstâncias, os seus direitos com relação ao Serviços serão limitados pelos direitos autorais e/ou leis de propriedade intelectual aplicáveis e ainda por estes Termos de Uso.</p>

  <p>4.5 O EnemGO poderá modificar os Serviços e/ou Conteúdo ou descontinuar a sua disponibilidade a qualquer momento.</p>

  <p>4.6 Você é o único responsável pela obtenção, pagamento e manutenção de todos os serviços de telefonia, acesso à internet, plano de dados, tarifas e/ou outras taxas, mensalidades e custos associados ao seu acesso e uso dos Serviços, bem como pelo software, hardware de computador e outros equipamentos necessários para o uso e acesso aos Serviços.</p>

  <p>4.7 Não obstante outras disposições contidas nestes Termos de Uso, os Serviços estão disponíveis para seu uso por um período que começa a partir do registro de seus dados junto com o pagamento correspondente ao plano escolhido, incluindo as suas renovações.</p>

  <p>4.8 Você não deve tentar nem apoiar as tentativas de terceiros para driblar, reverter a engenharia, decodificar, decompilar, desmontar ou fraudar ou interferir de qualquer forma com aspectos dos Serviços. Você não deve distribuir, intercambiar, modificar, vender ou revender ou retransmitir a qualquer pessoa qualquer parte dos Serviços, incluindo, mas não se limitando, a qualquer texto, imagem ou áudio, para qualquer finalidade empresarial comercial ou pública. Você concorda em não copiar, vender, distribuir ou transferir o Conteúdo e/ou Serviços EnemGO.</p>

  <p><h5>5. PAGAMENTO.</h5></p>

  <p>5.1 Você concorda em efetuar o pagamento pelo Plano de Serviços contratado que não seja disponibilizado de forma gratuita pelo EnemGO.</p>

  <p>5.1.1. O EnemGO oferecerá formas de cobrança na Plataforma. Pela qual o usuário paga e tem acesso ao conteúdo por um tempo pré-determinado, nos termos da contratação.</p>

  <p>5.2 Você deverá fornecer, manter e atualizar informações verdadeiras, exatas, atuais e completas sobre si mesmo conforme for solicitado por nossos processos de registro (os “Dados de Registro”). Você não poderá se passar por outra pessoa física ou jurídica ou adulterar sua identidade ou sua afiliação a qualquer pessoa física ou jurídica, incluindo o uso do nome de usuário, senha ou de outra informação de conta de outra pessoa física ou jurídica ou o nome, a semelhança, voz, imagem ou fotografia de outra pessoa.</p>

  <p>5.3 <b>Transações bancárias e através de cartão de crédito</b>. Durante sua inscrição, as informações do seu cartão de crédito ou de sua conta bancária podem ser solicitadas. Como Membro, você concorda que sejam cobrados no seu cartão de crédito ou debitados na sua conta bancária os preços relativos aos planos e todas as taxas e impostos sobre vendas e quaisquer outras despesas aplicáveis ao uso dos Serviços.</p>

  <p>5.4 <b>Direito de alterar os preços</b>. O EnemGO reserva-se o direito de alterar os preços publicados no website a qualquer momento, sem aviso prévio.</p>

  <p>5.5 <b>Política de reembolso</b>. Em até 7 (sete) dias após a compra do plano de serviços, em caso de desistência da contratação, você pode solicitar o cancelamento. Neste caso, o reembolso será realizado pelo EnemGO através de estorno no cartão de crédito no qual a compra foi efetuada, em até 60 (sessenta) dias após a solicitação. Nenhum pagamento será reembolsável quando solicitado após 7 (sete) dias da data de compra do plano de serviços. No caso de pagamentos via boleto bancário, os reembolsos serão realizados através de depósito em conta corrente do Membro dentro do prazo de 60 (sessenta) dias após a solicitação. Não haverá reembolso quando houver efetiva utilização do Serviço.</p>

  <p>5.6 Exceto disposição em contrário nestes Termos de Uso, nenhuma mensalidade, taxa ou despesa será reembolsável.</p>

  <p><h5>6. USO DA PLATAFORMA</h5></p>

  <p>6.1 <b>Responsabilidade e Controle</b>. Você, e não o EnemGO, é inteiramente responsável por suas informações que faça upload, poste, distribua, envie por e-mail ou de alguma outra forma torne disponível via nossa Plataforma. Nós não controlamos suas Informações Públicas ou as Informações Públicas de outros Membros ou postadas por eles, e não garantimos a precisão, integridade ou a qualidade de Suas Informações ou das Informações postadas por ou sobre outros Membros, nem endossamos nenhuma opinião expressada por você ou por outros Membros. Você entende que usando nossa Plataforma, você pode ser exposto a informações ofensivas, indecentes ou com as quais não concorde. Nós não temos nenhuma obrigação de monitorar, nem tomamos qualquer responsabilidade pelas Suas Informações, pelas Informações Públicas ou informações a respeito de quaisquer assuntos ou postadas por outros Usuários. Você concorda que sob nenhuma circunstância o EnemGO, seus diretores, sócios ou funcionários poderão ser responsabilizados por quaisquer informações, incluindo, mas não se limitando a erros ou omissões nas Suas Informações ou nas Informações Públicas postadas por ou sobre outros Membros, por perdas e danos de qualquer tipo, ocorridas como resultado do uso das Suas Informações ou de quaisquer Informações Públicas de ou sobre outros Membros que venham a ser postadas, enviadas por e-mail, transmitidas ou disponibilizadas de qualquer outra maneira conectada à nossa Plataforma, ou por qualquer falha em corrigir ou remover quaisquer dessas informações.</p>

  <p><h5>6.2 CONDIÇÕES PARA SUSPENSÃO OU TÉRMINO DOS SERVIÇOS.</h5></p>

  <p>6.2.1 Os seguintes tipos de ação são vedados no website e na Plataforma do EnemGO e são passíveis de suspensão e/ou término imediato do seu status de Membro:</p>
  <p>(a) Uso de nossa Plataforma para: (i) ameaçar ou intimidar outra pessoa de qualquer forma, incluindo a restrição ou inibição do uso de nossa Plataforma; (ii) personificar qualquer pessoa (incluindo a equipe do EnemGO ou outros Membros), ou atestar falsamente afiliação ou representação de qualquer pessoa ou companhia, através do uso de endereços de e-mail similares, apelidos, ou a criação de contas falsas ou qualquer outro método ou procedimento; (iii) disfarçar a origem de quaisquer Informações Públicas que sejam transmitidas a terceiros; (iv) perseguir ou perturbar outrem; (v) coletar ou armazenar dados pessoais de outros usuários;</p>
  <p>(b) Postar quaisquer Informações Públicas ou outro material: (i) que seja ilegal, ofensivo, racista, preconceituoso, ameaçador, abusivo, perturbador, difamatório, intimidador, vulgar, obsceno, profano, acusatório, que invada a privacidade de outrem (inclusive a postagem de e-mails privados ou informações de contato de outros usuários), odioso, racial, eticamente ou de qualquer outra forma contestável, incluindo quaisquer Informações Públicas ou outro material que possa ser considerado um discurso de ódio; (ii) que seja obsceno, pornográfico ou adulto por natureza; (iii) que você não tenha o direito de disponibilizar por qualquer lei ou por contrato; (iv) que infrinja qualquer patente, marca registrada, segredo comercial, direitos autorais ou quaisquer outros direitos de propriedade intelectual ou direitos de terceiros; (v) que seja qualquer tipo de propaganda ou material promocional não solicitado, ou qualquer outra forma de solicitação (incluindo, mas não se limitando a “spam”, “junk mail”, e correntes de e-mail); ou (vi) que seja de qualquer outra forma inapropriado ou postado de má fé;</p>
  <p>(c) Encorajar outrem a violar os Termos de Uso ou se recusar a seguir instruções da equipe do EnemGO;</p>
  <p>(d) Violar (intencional ou não intencionalmente) os Termos de Uso, ou de qualquer lei, ordenação, estatuto ou regulamento local, estadual, nacional ou internacional aplicável.</p>

  <p>6.2.2 Mesmo que nós proibamos o conteúdo e as condutas acima, você entende e concorda que você poderá vir a ser exposto a tais condutas e conteúdos e que usa a Plataforma a seu próprio risco. Para os propósitos destes Termos de Uso, “postar” inclui o upload, a postagem, distribuição, envio de e-mails, publicação, transmissão ou disponibilização de alguma outra forma.</p>

  <p>6.2.3 Sem se limitar ao disposto acima, o EnemGO tem o direito de remover quaisquer Informações Públicas ou outro material que viole esses Termos de Uso ou seja de outra maneira questionável.</p>

  <p>6.3 Não-Interferência com a Plataforma. Você concorda que não irá: (a) fazer upload, postar, publicar, distribuir, enviar por e-mail ou transmitir de qualquer outra forma rotinas de programação, arquivos ou programas com a intenção de interromper, destruir ou limitar as funcionalidades de qualquer software ou hardware ou equipamento de telecomunicação; (b) interferir com ou perturbar nossa Plataforma ou com as redes conectadas ao nosso website através do uso de nossa Plataforma, ou desobedecer quaisquer requerimentos, procedimentos, políticas ou regulamentos das redes conectadas ao nosso website, ou de alguma outra maneira interferir com a nossa Plataforma em qualquer sentido, incluindo através do uso de JavaScript, ou outros códigos; (c) agir de qualquer maneira que imponha uma carga excessivamente pesada, que seja desproporcional ou não razoável, em nossa infraestrutura; (d) copiar, reproduzir, alterar, modificar ou exibir publicamente qualquer informação que esteja disponível em nosso website (exceto as Suas Informações), ou criar trabalhos derivados do nosso website (exceto Suas Informações), com o entendimento de que tais ações constituiriam infração de direitos autorais ou outro tipo de violação à propriedade intelectual e/ou industrial do EnemGO ou de quaisquer terceiros, exceto se autorizado por escrito e com antecedência pelo EnemGO ou pelo terceiro.</p>

  <p>6.4 Práticas Gerais de Uso da Plataforma. Você declara saber e entender que nós podemos estabelecer práticas e limites gerais no que diz respeito ao uso de nossa Plataforma. Você concorda que nós não nos responsabilizamos nem podemos ser responsabilizados pelo armazenamento ou apagamento, ou pela falha em armazenar ou apagar, qualquer uma de Suas Informações. Você entende que nós nos reservamos o direito de suspender Membros que estejam inativos por um período extenso de tempo. Você entende que nós nos reservamos o direito de mudar essas práticas e limites gerais a qualquer momento, a nosso critério, com ou sem aviso.</p>

  <p><h5>7. COMUNICADOS DA EQUIPE ENEMGO</h5></p>

  <p>7.1 Você entende e concorda que nós podemos enviar certos comunicados, como anúncios de serviços do EnemGO e newsletters, bem como ofertas de bens e serviços relevantes e que beneficiem você ou qualquer grupo de Membros unidos por afinidade que você possa vir a participar, e que esses comunicados são considerados parte de nossa Plataforma.</p>

  <p><h5>8. LINKS</h5></p>

  <p>8.1 Nós podemos providenciar, ou terceiros podem providenciar e publicar, links para outros websites ou recursos. Por não termos controle sobre tais websites ou recursos, você entende e concorda que nós não somos responsáveis pela disponibilidade de tais websites e recursos, e nós não endossamos e não nos responsabilizamos nem somos passíveis de ser responsabilizados por qualquer conteúdo, publicidade, produto, ou outro material disponível neste ou através deste website ou recurso.</p>

  <p>8.2 Você também entende e concorda que o EnemGO não será responsável nem poderá ser responsabilizado, direta ou indiretamente, por quaisquer perdas e danos causadas ou alegadas de terem sido causadas ou relacionadas ao uso de qualquer conteúdo, bem ou serviço disponível na Plataforma ou através do uso de qualquer um desses websites, recursos e/ou serviços.</p>

  <p><h5>9. GARANTIAS E RESPONSABILIDADES</h5></p>

  <p>9.1 Isenção de Garantias. Você usa a nossa Plataforma a seu próprio e exclusivo risco. Nossa Plataforma é oferecida a você “como é” e “como está disponível”. Nós nos isentamos de garantias e condições de qualquer tipo, sejam expressas, implícitas ou instituídas, incluindo mas não se limitando a garantias relacionadas à segurança, confiabilidade, conveniência e performance de nossa Plataforma. Nós nos isentamos ainda de quaisquer garantias sobre informações ou conselhos obtidos através de nossa Plataforma. Isentamo-nos de quaisquer garantias de terceiros por serviços ou bens recebidos através ou anunciados em nossa Plataforma ou recebidos através de links exibidos em nossa Plataforma, bem como por qualquer informação ou conselho recebido através de quaisquer links exibidos em nossa Plataforma. Além disso, nenhum conselho ou informação, seja oral ou escrita, obtida de você por nós, deve criar nenhum tipo de garantia.</p>

  <p>9.2 Suposição de Risco. Você entende e concorda que ao fazer download ou obter qualquer outra forma de acesso ao nosso material ou dados através do uso de nossa Plataforma ao seu próprio critério e risco e que você será o único responsável por quaisquer danos ao seu computador ou perda de dados que resulte do download deste material ou dados.</p>

  <p>9.3 Limitação de Responsabilidade. Você concorda que, em nenhuma circunstância, o EnemGO poderá ser responsabilizado por qualquer dano direto, indireto, incidental, especial, consequencial ou punitivo, incluindo mas não se limitando a perdas e danos, lucros cessantes, perda de uma chance, outras perdas e danos intangíveis (ainda que o EnemGO tenha sido alertado sobre a possibilidade de ocorrência de tais danos), relacionado ao uso dos Serviços ou de nossa Plataforma, nem com relação à incapacidade e/ou impossibilidade de usá-los (incluindo hipóteses de negligência).</p>

  <p><h5>10. INDENIZAÇÃO</h5></p>

  <p>10.1 Você concorda em defender, indenizar e proteger o EnemGO, seus diretores, sócios, agentes, funcionários, consultores, afiliados, subsidiários e parceiros contra toda e qualquer reclamação, perda, dano, responsabilização, julgamento, avaliação, multa, custo e outras despesas, incluindo honorários advocatícios, resultantes ou relacionados ao uso feito por você dos Serviços ou de qualquer violação dos Termos de Uso, uso da Plataforma, Suas Informações, violação de qualquer lei, estatuto, ordem ou regulamento ou direitos de terceiros e concorda em reembolsar o EnemGO por quaisquer perdas, custos e despesas em que ela incorra por consequência disso.</p>

  <p><h5>11. RESCISÃO</h5></p>

  <p>11.1 Você concorda que nós, ao nosso critério, podemos disparar um alerta, suspender temporariamente, indefinidamente ou remover completamente qualquer conteúdo ou informação postada por você, ou encerrar com o seu status de Membro ou com a sua capacidade de uso total ou parcial de nossa Plataforma, por qualquer razão, incluindo mas não se limitando a (a) por falta de uso; (b) se nós acreditarmos que você violou ou agiu de forma inconsistente com o espírito destes Termos de Uso ou dos documentos incorporados como referência; (c) se não formos capazes de verificar ou autenticar qualquer informação que você nos forneça; (d) se acreditarmos que suas ações possam gerar responsabilidade civil a você, aos nossos usuários ou a nós.</p>

  <p>11.2 Você declara-se ciente de que o encerramento da sua conta ou do acesso total ou parcial à Plataforma por motivo esclarecido nesses Termos de Uso poderá ser efetuado sem aviso prévio, e entende e concorda que poderemos imediatamente desativar ou apagar a sua conta e todas as informações e arquivos relativos a ela e/ou barrar seu acesso futuro à nossa Plataforma. Você também concorda que nós não podemos ser responsabilizados por você ou por terceiros pelo encerramento do seu uso de todas ou quaisquer partes da Plataforma.</p>

  <p>11.3 O EnemGO reserva-se o direito de rescindir o seu plano de Serviços e/ou o seu acesso aos Serviços por violação dos Termos de Uso. Caso a sua inscrição e contratação dos Serviços sejam rescindidas, nenhum pagamento, mensalidade, taxa ou despesa será reembolsável.</p>

  <p><h5>12. PROPRIEDADE INTELECTUAL</h5></p>

  <p>12.1 Direitos autorais. O conteúdo publicado no website do EnemGO e outros trabalhos de autoria encontrados na Plataforma como parte dos Serviço ("Conteúdo") estão protegidos pelas leis e tratados de direitos autorais nacionais e internacionais, assim como outras leis e tratados de propriedade intelectual. O Conteúdo é licenciado, não vendido. Você não pode fazer cópias não autorizadas ou usar nenhum Conteúdo, exceto como especificado aqui e de acordo com as leis aplicáveis. Todos os direitos autorais do Conteúdo e dos Serviços (incluindo, mas não se limitando a imagens, fotografias, animações, vídeos, áudio, música, texto, layout e “look and feel” incorporados nos Serviços) são de propriedade do EnemGO. Você concorda em cumprir com todas as leis de proteção dos direitos autorais relacionadas ao uso dos Serviços e do Conteúdo. O EnemGO reserva-se o direito de tomar as medidas que julgar apropriadas, a seu exclusivo critério, a fim de proteger os direitos autorais do Conteúdo e dos Serviços, além das condições previstas nestes Termos de Uso.</p>

  <p>12.2 Não é permitido aos Usuários e Membros tentar reconfigurar, desmontar ou fazer engenharia reversa no website, nos Serviços e/ou no Conteúdo do EnemGO.</p>

  <p>12.3 Marcas. Você não esta autorizado a utilizar nenhum marca e/ou sinais distintivos encontrados no website, no Conteúdo e/ou nos Serviços do EnemGO. Você não pode copiar, exibir ou usar nenhuma das marcas comerciais sem consentimento prévio por escrito do seu proprietário. Qualquer uso não autorizado poderá violar as leis de propriedade industrial, leis de privacidade, de propriedade intelectual e ainda estatutos civis e/ou criminais.</p>

  <p>12.4 Todos os direitos e licenças não concedidos expressamente nestes Termos de Uso são reservados aos proprietários dos Conteúdos e/ou Serviços. Estes Termos de Uso não concedem quaisquer licenças implícitas.</p>

  <p><h5>13. PROIBIÇÃO DE REVENDA</h5></p>

  <p>13.1 Você concorda em não reproduzir, duplicar, copiar, vender, revender ou explorar com quaisquer fins comerciais, qualquer porção da Plataforma EnemGO, nem fazer uso da Plataforma ou do acesso esta para o fim de vendas de bens ou serviços, ou a promoção de uma companhia, bem ou serviço.</p>

  <p><h5>14. DISPOSIÇÕES GERAIS</h5></p>

  <p>14.1. Estes Termos de Uso, juntamente com a Política de Privacidade publicada no nosso website, constituem o acordo integral entre as Partes com relação ao objeto em questão, e substituem todos os acordos anteriores, escritos ou verbais.</p>

  <p>14.2. As Partes são contratantes independentes, não resultando este instrumento na criação de qualquer sociedade, franquia, representação de vendas ou relações que não as expressamente previstas nestes Termos de Uso.</p>

  <p>14.3. Caso qualquer uma das cláusulas e condições destes Termos de Uso venha a ser declarada nula, no todo ou em parte, por qualquer motivo legal ou contratual, as demais cláusulas continuarão em pleno vigor e efeito.</p>

  <p>14.4. O EnemGO poderá, a qualquer tempo, a seu exclusivo critério e sem necessidade de qualquer aviso prévio ou posterior a qualquer usuário ou terceiros, (I) tirar o site do ar e (II) alterar e/ou atualizar no todo ou em parte estes Termos de Uso. Qualquer alteração e/ou atualização destes Termos de Uso passará a vigorar a partir da data de sua publicação no site e deverá ser integralmente observada pelos usuários.</p>

  <p>14.5 A tolerância ou o não exercício, por qualquer das Partes, de quaisquer direitos a ela assegurados nestes Termos de Uso ou na lei em geral não importará em novação ou em renúncia a qualquer desses direitos, podendo a referida Parte exercê-los durante a vigência destes Termos de Uso.</p>

  <p>14.6 Notificações, avisos ou comunicações relativas aos presentes Termos de Uso serão enviados por escrito, por meio de carta protocolada ou com aviso de recebimento, fac-símile ou correspondência eletrônica com comprovação de recebimento, por qualquer uma das Partes à outra.</p>
</div>
