.dropdown-item {
  i {
    margin-right: 0.5rem;
  }
}

.dropdown-menu.dropdown-menu-right  {
  &.align {
    position: absolute !important;
    top: 58px !important;
    left: -108px !important;
    will-change: top, left !important;
  }
}
