.main-navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
}

.main-navbar {

  .btn-preview,
  .sidebar-btn-toggle {
    font-size: 20px;
  }

  .sidebar-btn-toggle {
    color: $primary;
    @include link-colors-important($purple);
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
  }
}

.navbar-default {
  .navbar-brand {
    color: $purple;

    @include hover-focus {
      color: $purple;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $purple;

      @include hover-focus {
        color: $primary;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $primary;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $purple;
    a {
      color: $primary;

      @include hover-focus {
        color: $primary;
      }
    }
  }
}
