<div class="row justify-content-md-center my-auto mx-0">
  <div class="col col-lg-9">
    <div class="card p-3">
      <div class="card-body">
        <%= render 'form', question: @question %>
        
      </div>

    </div>

  </div>
</div>
