<div class="card-footer" style="margin-top: 10px;">
  <div class="row">
    <div class="col-lg-6">
      <%= link_to 'Voltar', admin_users_path, class: "btn btn-round btn-outline-dark" %>
    </div>
    <div class="col-lg-6 text-right">
      <%= link_to 'Editar', edit_admin_user_path(@user), class: "btn btn-round btn-outline-primary" %>
    </div>
  </div>
</div>
