<section id="about" class="bg-light py-5">
  <div class="container">
    <%= render 'home/partials/header_section',
    title: 'O que é EnemGO!?',
    subtitle: 'Prepare-se para o ENEM de forma prática!'
    %>
    <div class="row py-5">
      <div class="container">
        <div class="row col align-self-center">
          <div class="col-md-6 text-justify">
              <p><h4>O EnemGO é muito mais do que um site. Somos seu ajudante online que veio
              para facilitar a sua vida de estudante e revolucionar sua forma de
              aprender. </h4></p>
              <p><h4>Aqui você pode testar seus conhecimentos para ter um bom desempenho
              no ENEM e conquistar a tão sonhada vaga na Universidade, tudo isso de uma
              forma agradável e eficiente, em qualquer tempo e em qualquer lugar.</h4></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
