<div class="text-center mx-auto g-max-width-645 g-mb-70">
  <h2 class="title-section line-height-1 mb-3">
    <%= title %>
  </h2>
  <p class="lead text-muted mb-0">
    <%= subtitle %>
  </p>

</div>
