<section id="why-enemgo" class="bg-white py-5">
  <div class="container">
    <%= render 'home/partials/header_section',
    title: 'Porque o EnemGO?',
    subtitle: 'Junte-se a nós e não irá se arrepender!'
    %>
    <div class="row py-5">
      <div class="container">
        <div class="row col align-self-center">
          <div class="col-md-6 text-justify">
              <p><h4>Se o seu objetivo é ter um bom desempenho no ENEM para conquistar
              a tão almejada vaga na Universidade então o EnemGO é para você.</h4></p>
              <p><h4>Você poderá realizar provas oficiais do ENEM e se preparar da
              melhor maneira possível para atingir seus objetivos.</h4></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
