<div class="row justify-content-center my-3">
  <div class="col-lg-10">
    <div class="card p-3">
      <h4 class="card-title">Editar Perfil</h4>
        <%= render 'form_edit', user: @user %>
    </div>
  </div>
</div>
