<div class="row justify-content-md-center my-auto mx-0">
  <div class="col col-lg-10">
    <div class="card p-3">
      <h4 class="card-title">Criar Usuário</h4>
      <div class="card-body">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>
