<header class="navbar navbar-expand-lg navbar-light bg-white main-navbar brd-b-1">

  <div class="main-navbar-left">
    <button class="btn btn-outline-primary border-0 btn-preview">
      <i class="ti-menu"></i>
    </button>

    <span class="btn sidebar-btn-toggle">
      <i class="ti-menu"></i>
    </span>
  </div>

  <div class="main-navbar-right d-flex align-items-md-center">
    <ul class="nav-menu navbar-nav d-flex align-items-md-center mb-0">
      <!--  example -->
      <li class="nav-item dropdown">
        <a id="notifications" rel="nofollow" data-target="#" href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
          <i class="ti-bell"></i>
          <span class="badge badge-primary" style="border-radius: 100%">N</span>
        </a>
        <div aria-labelledby="notifications" class="dropdown-menu dropdown-menu-right"
            style="position: absolute; top: 45px; left: -300px; will-change: top, left;"
        >
          <a rel="nofollow" href="#" class="media" style="width: 350px; font-size: 12px">
            <!-- <img class="align-self-center mr-3" src="..." alt="..."> -->
            <div class="media-body">
              <p>Lorem Ipsum</p>
              <time datetime="2017-07-14 20:00">Just now</time>

            </div>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= current_user.profile.avatar_thumb  %>
        </a>
        <div class="dropdown-menu dropdown-menu-right align">
          <%= link_to profile_path(current_user.module_kind), class: "nav-item dropdown-item" do %>
            <i class="ti-user"></i>
            Minha Conta
          <% end %>
          <%= link_to "#", class: "dropdown-item" do %>
            <i class="ti-settings"></i> Configurações
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete  do %>
            <i class="ti-power-off"></i> Sair
          <% end %>
        </div>
      </li>
    </ul>
  </div>

</header>
