<aside class="sidebar theme-light">
  <header class="sidebar-header">
    <span class="logo font-weight-bold">EnemGO</span>
  </header>
  <nav class="">
    <ul class="sidebar-menu list-unstyled pt-3">
      <li class="nav-section">Nevegação</li>
      <li class="nav-item">
        <%= link_to send("#{current_user.module_kind}_root_path"), class: "nav-link" do %>
          <i class="icon ti-home"></i>
          <span class="title-label">Dashboard</span>
        <% end %>
      </li>
      <%= render "#{current_user.module_kind}/dashboard/menu" %>

    </ul>
  </nav>
</aside>
