if ("<%= @simulation_answer.persisted? %>") {
  var $url = $("a.next-question").attr('href');
  Turbolinks.visit($url, {action: 'replace'} );
} else {
  $("#flash-content").html("<p class='text-center text-danger'><%= j flash[:error] %></p>")
}
