<li class="page-item mx-1 <%= 'active' if page.current? %>" data-page="<%= page %>">
  <%= link_to page.to_s.rjust(2, '0'), url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link rounded-circle ' %>
</li>
